---
import { ClientRouter, fade  } from 'astro:transitions';
import Header from './Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Trademark Chase</title>
<meta name="description" content="Trademark Chase provides fast, compliant trademark registration services with same-day filing, managed by U.S. licensed attorneys.">
<meta name="keywords" content="">

<!-- <link rel="icon" type="images/jpg" href="{{asset('img/fav.svg')}}"> -->
<link rel="stylesheet" href="/assets/css/main.css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css">


		<ClientRouter/>
	</head>
	<body>
		<Header/>
		<div transition:animate={fade({ duration: '0s' })}>
			<slot/>
		</div>
	</body>
</html>
