---
import { ClientRouter, fade } from "astro:transitions";
import Header from "./Header.astro";
import '../styles/main.css';
// import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Trademark Chase</title>
    <meta
      name="description"
      content="Trademark Chase provides fast, compliant trademark registration services with same-day filing, managed by U.S. licensed attorneys."
    />
    <meta name="keywords" content="" />




    <style is:global>
  @import "https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.min.css";
</style>

    <ClientRouter />
  </head>
  <body>
    <Header />
    <div transition:animate={fade({ duration: 0 })}>
      <slot />
    </div>
<script is:inline id="cd360-snippet" src="https://alphachatpro.com/assets/scripts/snippet.js?key=67194b1713fb6b5e96bb86cb"></script>
  </body>
</html>
