---
import BrandRegister from '../components/BrandRegister.astro'
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/web/Layout.astro'
---

<Layout>
    <HeroSection/>

    {/* brand Register section*/}
  <section class="bg-[#1D1616]">
    <BrandRegister/>
  </section>
</Layout>