---
import { Image } from "astro:assets";
---

<div class="container">
      <div class="text-center mb-5 lg:mb-8">
        <h2 class="section-title font-bold text-white">
          <span class="text-primary">1000+ Brands Registered</span>
          Their Trademark With Us{" "}
        </h2>
      </div>
      <div
        class="flex items-center justify-center gap-2 lg:gap-4 [&>div:not(:last-child)]:border-r-2 [&>div:not(:last-child)]:pr-5"
      >
        <div>
          <Image
            src="https://trademarkchase.com/img/brands/1.png"
            alt="brands image"
            width="148"
            height="50"
            class="object-contain w-auto"
           
          />
        </div>
        <div>
          <Image
            src="https://trademarkchase.com/img/brands/2.png"
            alt="brands image"
            width="148"
            height="50"
            class="object-contain w-auto"
           
          />
        </div>
        <div>
          <Image
            src="https://trademarkchase.com/img/brands/3.png"
            alt="brands image"
            width="148"
            height="50"
            class="object-contain w-auto"
           
          />
        </div>
        <div>
          <Image
            src="https://trademarkchase.com/img/brands/4.png"
            alt="brands image"
            width="148"
            height="50"
            class="object-contain w-auto"
           
          />
        </div>
      </div>
    </div>