---
// Import Swiper components and styles
import { Swiper, SwiperSlide } from 'swiper/react';
import { Navigation, Pagination, Autoplay } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

// Define your props interface if needed
interface Props {
  images?: string[];
}

const { images = [
  '/assets/img/slide1.jpg',
  '/assets/img/slide2.jpg',
  '/assets/img/slide3.jpg',
] } = Astro.props;
---

<div class="relative w-full">
  <Swiper
    client:load
    modules={[Navigation, Pagination, Autoplay]}
    spaceBetween={30}
    slidesPerView={1}
    navigation
    pagination={{ clickable: true }}
    autoplay={{
      delay: 3000,
      disableOnInteraction: false,
    }}
    loop={true}
    className="mySwiper"
  >
    {images.map((image) => (
      <SwiperSlide>
        <img
          src={image}
          alt="Slider image"
          class="w-full h-[600px] object-cover"
        />
      </SwiperSlide>
    ))}
  </Swiper>
</div>

<style>
  :root {
    --swiper-theme-color: #fff;
    --swiper-navigation-size: 30px;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>