<section
    class="hero-banner min-h-[100dvh] pt-[4rem] lg:pt-[5rem]"
    style={{
      backgroundImage: "url(https://trademarkchase.com/img/banners/6.webp)",
    }}
  >
    <div class="container-fluid 4xl:max-w-[1920px] mx-auto">
      <div
        class="flex flex-wrap lg:flex-nowrap gap-5 items-center mt-4 lg:mt-0"
      >
        <div
          class="w-full md:w-8/12 lg:w-7/12 4xl:10/12 min-h-[calc(100dvh-79px)] lg:min-h-full flex flex-col justify-center items-start"
        >
          <span
            class="text-[20px] md:text-[25px] xl:text-[30px] 4xl:text-[42px] text-white capitalize font-light block mb-2 font-roboto"
          >
            Get A<span class="font-semibold">Trademark </span> Today!
          </span>

          <h1
            class="lp_changes text-white mb-2 capitalize font-roboto font-semibold"
          >
            {" "}
            <span class="font-light">Trademark Business </span> Name, Logo or Slogan
            <span class="font-light">with</span>
            Trademark Chase <br class="hidden xl:inline" />
            <span class="text-white capitalize m-0 font-roboto font-light">
              in Just
            </span>
            <span
              class="text-primary text-[40px] md:text-[40px] lg:text-[45px] 4xl:text-[72px] mt-0 lg:-mt-[11px]"
            >
              <span class="items-baseline font-bold font-roboto">$39</span>
            </span>
          </h1>

          <ul
            class="flex flex-col gap-2 lg:gap-3 4xl:gap-4 my-3 [&_*]:!text-white [&>li]:text-[18px] 4xl:[&>li]:text-[28px]"
          >
            <li class="flex items-start lg:items-center gap-2">
              <img
                src="https://trademarkchase.com/img/icons/bg-transparent-check.svg"
                alt="check icon"
                width="20"
                height="20"
                class="object-contain"
              />
              Experienced Trademark Registration Specialists
            </li>

            <li class="flex items-start lg:items-center gap-2">
              <img
                src="https://trademarkchase.com/img/icons/bg-transparent-check.svg"
                alt="check icon"
                width="20"
                height="20"
                class="object-contain"
              />
              Expedited Same-Day Filing Service
            </li>

            <li class="flex items-start lg:items-center gap-2">
              <img
                src="https://trademarkchase.com/img/icons/bg-transparent-check.svg"
                alt="check icon"
                width="20"
                height="20"
                class="object-contain"
              />
              Expert support from start to finish with no hidden costs
            </li>
          </ul>
          <div
            class="flex items-center gap-2 lg:gap-4 flex-wrap lg:flex-nowrap my-3 w-full lg:w-fit"
          >
            <a
              href="https://trademarkchase.com/lp/sequence/step1"
              class="btn btn-primary w-full sm:w-auto flex-grow-1 flex-shrink-0 sm:flex-grow-0"
            >
              Get Started
            </a>
            <button
              onclick="openChatWidget()"
              class="btn btn-white w-full sm:w-auto flex-grow-1 flex-shrink-0 sm:flex-grow-0"
            >
              Live Chat
            </button>
          </div>
          <p class="text-white m-0 mt-2">
            {" "}
            <a
              href="#packages"
              class="underline hover:text-primary transition-all"
            >
              Explore our packages starting
            </a>{" "}
            from
            <span class="text-primary">$39</span>
          </p>
        </div>
      </div>
    </div>
  </section>