<div class="swiper h-auto ServicesSlider">
  <div class="swiper-wrapper !items-stretch">
    <div class="swiper-slide h-auto">
      <div
        class="rounded-xl bg-white p-4 py-7 h-full text-white relative group hover:bg-primary transition duration-300 flex flex-col items-start"
      >
        <img
          loading="lazy"
          src="https://trademarkchase.com/img/icons/services/1.png"
          alt="icons"
          width="64"
          height="64"
          class="object-contain mb-5"
        />
        <h3
          class="text-[18px] lg:text-[20px] 2xl:text-[22px] font-semibold mb-2"
        >
          Trademark Registration
        </h3>
        <p
          class="text-base overflow-auto overflow-y-auto max-h-[150px] group-hover:text-[#61430F] text-[#565656] transition-all"
        >
          Ensure your brand is protected with trademark registration. Our team
          handles the filing process with precision, securing exclusive rights
          to your name or logo.
        </p>
      </div>
    </div>
    <div class="swiper-slide h-auto">
      <div
        class="rounded-xl bg-white p-4 py-7 h-full text-white relative group hover:bg-primary transition duration-300 flex flex-col items-start"
      >
        <img
          loading="lazy"
          src="https://trademarkchase.com/img/icons/services/2.png"
          alt="icons"
          width="64"
          height="64"
          class="object-contain mb-5"
        />
        <h3
          class="text-[18px] lg:text-[20px] 2xl:text-[22px] font-semibold mb-2"
        >
          Trademark Renewal
        </h3>
        <p
          class="text-base overflow-auto overflow-y-auto max-h-[150px] group-hover:text-[#61430F] text-[#565656] transition-all"
        >
          Maintain your trademark’s validity with timely renewals. Our team
          ensures continuous protection of your intellectual property.
        </p>
      </div>
    </div>

    <div class="swiper-slide h-auto">
      <div
        class="rounded-xl bg-white p-4 py-7 h-full text-white relative group hover:bg-primary transition duration-300 flex flex-col items-start"
      >
        <img
          loading="lazy"
          src="https://trademarkchase.com/img/icons/services/3.png"
          alt="icons"
          width="64"
          height="64"
          class="object-contain mb-5"
        />
        <h3
          class="text-[18px] lg:text-[20px] 2xl:text-[22px] font-semibold mb-2"
        >
          Copyright Registration
        </h3>
        <p
          class="text-base overflow-auto overflow-y-auto max-h-[150px] group-hover:text-[#61430F] text-[#565656] transition-all"
        >
          Legally safeguard your creative works with copyright registration,
          granting exclusive rights across various media platforms.
        </p>
      </div>
    </div>

    <div class="swiper-slide h-auto">
      <div
        class="rounded-xl bg-white p-4 py-7 h-full text-white relative group hover:bg-primary transition duration-300 flex flex-col items-start"
      >
        <img
          loading="lazy"
          src="https://trademarkchase.com/img/icons/services/3.png"
          alt="icons"
          width="64"
          height="64"
          class="object-contain mb-5"
        />
        <h3
          class="text-[18px] lg:text-[20px] 2xl:text-[22px] font-semibold mb-2"
        >
          Comprehensive Trademark Search
        </h3>
        <p
          class="text-base overflow-auto overflow-y-auto max-h-[150px] group-hover:text-[#61430F] text-[#565656] transition-all"
        >
          Our expert team leverages advanced technology and deep industry
          insight to perform a comprehensive search, uncover potential
          conflicts, and deliver a detailed report of the findings.
        </p>
      </div>
    </div>

    <div class="swiper-slide h-auto">
      <div
        class="rounded-xl bg-white p-4 py-7 h-full text-white relative group hover:bg-primary transition duration-300 flex flex-col items-start"
      >
        <img
          loading="lazy"
          src="https://trademarkchase.com/img/icons/services/3.png"
          alt="icons"
          width="64"
          height="64"
          class="object-contain mb-5"
        />
        <h3
          class="text-[18px] lg:text-[20px] 2xl:text-[22px] font-semibold mb-2"
        >
          Amazon Brand Registry
        </h3>
        <p
          class="text-base overflow-auto overflow-y-auto max-h-[150px] group-hover:text-[#61430F] text-[#565656] transition-all"
        >
          Amazon Brand Registry empowers brand owners to register their
          trademarks and protect their intellectual property while strengthening
          their brand presence.
        </p>
      </div>
    </div>

    <div class="swiper-slide h-auto">
      <div
        class="rounded-xl bg-white p-4 py-7 h-full text-white relative group hover:bg-primary transition duration-300 flex flex-col items-start"
      >
        <img
          loading="lazy"
          src="https://trademarkchase.com/img/icons/services/3.png"
          alt="icons"
          width="64"
          height="64"
          class="object-contain mb-5"
        />
        <h3
          class="text-[18px] lg:text-[20px] 2xl:text-[22px] font-semibold mb-2"
        >
          International Trademark Registration
        </h3>
        <p
          class="text-base overflow-auto overflow-y-auto max-h-[150px] group-hover:text-[#61430F] text-[#565656] transition-all"
        >
          Secure exclusive rights to your brand in multiple countries,
          protecting against infringement and ensuring global recognition and
          legal coverage.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination, Autoplay } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  

     var ServicesSlider = new Swiper(".ServicesSlider", {
         modules: [Navigation, Pagination, Autoplay],
      slidesPerView: 1,
      spaceBetween: 20,
      autoHeight: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
      breakpoints: {
        640: {
          slidesPerView: 2,
        },
        
        1024: {
          slidesPerView: 2.2,
        }
      },
    });
</script>
