---
import { ClientRouter, fade  } from 'astro:transitions';
import Header from '../web/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/assets/css/main.css">
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter/>
	</head>
	<body>
		<Header/>
		<div transition:animate={fade({ duration: '0s' })}>
			<slot/>
		</div>
		<script is:inline>
			// Pehle tw-elements ka script load karen
			const script = document.createElement('script');
			script.src = "../../../node_modules/tw-elements/js/tw-elements.umd.min.js";
			script.type = "text/javascript";
			
			// Script load hone ke baad hi initialize karen
			script.onload = function() {
				if (window.te) {
					window.te.initTE && window.te.initTE({ Collapse: true, Dropdown: true });
				}
			};
			
			document.body.appendChild(script);
		</script>
	</body>
</html>
