---
import { ClientRouter, fade  } from 'astro:transitions';
import Header from '../react/components/Layout/Header';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/assets/css/main.css">
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter/>
	</head>
	<body>
		<Header/>
		<div transition:animate={fade({ duration: '0s' })}>
			<slot/>
		</div>
	</body>
</html>
